body {
  background-image: url("../images/foggy_birds.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Myname {
position: fixed; top: 0px;left: 160px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-color: #4aaaa5;
font-size: 36px;
color: #ffffff;
width: 330px;

}

nav {
position: fixed; top: 0px; left: 0px; width: 100%;
background-color: #ffffff;
border: 0px solid #cccccc;
height: 60px;
text-align: right;
padding-top: 10px;
color: #666666;
font-family: Georgia, 'Times New Roman', Times, serif;
width: 100%;

}

h2 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 960px;
  font-size: 28px;
 
}

.linebreak {
  color: #777777;
  width: 960px;
  position: relative;
  padding: 3px;
}
p {
  color: #777777;
  word-wrap: normal;
  line-height: 40px;
}
.MainContent {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  width: 960px;
  margin: 100px auto;
 padding: 20px 40px  40px 40px;
}

.Officialpic {
  float: left;
  margin: 10px 10px 10px 10px;
}
.bottom_green_line {
  background-color: #4aaaa5;
  height: 10px; 
  position: fixed;
  bottom: 25px;
  left: 0px;
  width: 100%;
}

footer {
  color: #777777;
  background-color: #666666;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
.box1 {
  float: left;
  margin: 10px 10px 50px 10px;
}

.box2 {
  float: right;
  margin: 10px 10px 10px 10px;
}


.box4 {
  float: bottom;
  margin: 50px 900px 0px 10px;
}

.box5 {
  position: relative;
  left: 650px;
  bottom: 230px;
  margin: 0px 40px 0px 40px;
}
.PtName1 {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-color: #4aaaa5;
font-size: 16px;
color: #ffffff;
width: 260px;
}
.PtName2 {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-color: #4aaaa5;
font-size: 16px;
color: #ffffff;
width: 260px;
}

.PtName4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-color: #4aaaa5;
font-size: 16px;
color: #ffffff;
width: 260px;
}
.PtName5 {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-color: #4aaaa5;
font-size: 16px;
color: #ffffff;
width: 260px;
}
