body {
  background-image: url("../images/hiking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Myname {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #4aaaa5;
font-size: 16px;
color: #ffffff;
width: 290px;
margin-left: 200px;

}

nav {
background-color: #ffffff;
border: 1px solid #cccccc;
height: 70px;
text-align: right;
color: #666666;
margin-bottom: 40px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: auto 0px;
}

h2 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 960px;

}

.linebreak {
  color: #777777;
  width: 960px;
}
p {
  color: #777777;
  word-wrap: normal;
}
.MainContent {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  width: 960px;
 margin: 20px auto;
 padding: 20px 80px  80px 80px;
}

img {
  float: left;
  padding-right: 20px;
}
.bottom_green_line {
  background-color: #4aaaa5;
  height: 10px; 
}

footer {
  color: #777777;
  background-color: #666666;
}